<div *ngIf="!registerMode" class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3  text-center ">
      <h1>Welcome to Demo app</h1>
      <p class="lead"> All you need to do is sign up!</p>
      <div class="text-center">
        <button class="btn btn-primary btn-lg" (click)="registerToggle()">Register</button>
      </div>
    </div>
  </div>
</div>

<div *ngIf="registerMode" class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <app-register (cancelRegister)="cancelRegisterMode($event)"></app-register>
    </div>
  </div>
</div>