<nav class="navbar navbar-expand navbar-light bg-dark">
  <a class="navbar-brand text-light" [routerLink]="['/home']" routerLinkActive="router-link-active">Demo App</a>
  <button class="navbar-toggler bg-light" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div *ngIf="loggedIn()" class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link text-light" [routerLink]="['/members']">Matches </a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link text-light" [routerLink]="['/lists']">Lists</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link text-light" [routerLink]="['/messages']">Messages</a>
      </li>
    </ul>
  </div>
  <form *ngIf="!loggedIn()" #loginForm="ngForm" class="form-inline ml-auto" (ngSubmit)="login()">
    <input type="text" name="username" placeholder="Username" [(ngModel)]="model.username" required>
    <input type="password" name="password" placeholder="Password" [(ngModel)]="model.password" required>
    <button class="btn btn-outline-light" type="submit" [disabled]="!loginForm.valid">Sign In</button>
  </form>

  <ul *ngIf="loggedIn()" class="navbar-nav ml-auto">
    <li class="nav-item dropdown" dropdown>
      <a class="nav-link dropdown-toggle text-light" (click)="false" id="navbarDropdownMenuLink" dropdownToggle>
        Welcome {{authService.decodedToken?.unique_name | titlecase}}
      </a>
      <div class="dropdown-menu" *dropdownMenu>
        <a class="dropdown-item" href="#">
          <i class="fa fa-user"></i>Edit Profile</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" (click)="logout()">
          <i class="fa fa-sign-out"></i>Sign Out</a>
      </div>
    </li>
  </ul>

</nav>